<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - fur_ever_homes</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fur_ever_homes.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a class="logo-grp" href="#">
            <img class="logo" src="~/images/logo.svg" alt="" />
            <h3>FurEverHomes</h3>
        </a>
        <div class="nav-links">
            <a href="#">Home</a>
            <a href="#">About Us</a>
            <a href="#">Privacy</a>
        </div>
        <a class="logo-grp" href="#">
            <img class="logo" src="~/images/user-2.svg" alt="" />
            <h3>Log In Your Account</h3>
        </a>
    </header>
    <main role="main" >
        @RenderBody()
    </main>

    <footer >
        <div class="upper-footer">
            <h1>sample1</h1>
        </div>
        <div class="lower-footer">
            <p>&copy; 2023 FurEverHomes | All Rights Reserved</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>