@page
@model fur_ever_homes.Pages.Account.ViewUnregisteredModel
@{
    Layout = "_LayoutProfile";
}

<form class="card-container">
    <div class="card">
        <div class="card-img car-url"></div>
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rhoncus.</p>
        <div class="btn">
            <button id="edit-btn">EDIT</button>
            <button id="del-btn">DELETE</button>
        </div>
    </div>
    <div class="card">
        <div class="card-img car-url"></div>
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rhoncus.</p>
        <div class="btn">
            <button id="edit-btn">EDIT</button>
            <button id="del-btn">DELETE</button>
        </div>
    </div>
    <div class="card">
        <div class="card-img car-url"></div>
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rhoncus.</p>
        <div class="btn">
            <button id="edit-btn">EDIT</button>
            <button id="del-btn">DELETE</button>
        </div>
    </div>
</form>