@page
@model ViewUnregisteredModel
@{
    Layout = "_LayoutProfile";
}

@foreach (Dictionary<string, string> x in Model.dataArray)
{
    string petID = x["pet_id"];
    string name = x["name"];
    string imageURL = x["image_url"];
    string description = x["description"];
    
    <form method="post" class="card">
        <div class="card-img" style="background: url(@imageURL);"></div>
        <h3>@name</h3>
        <p>@description</p>
        <input asp-for="PetCard.PetID" value="@petID" type="hidden" />
        <div class="btn">
            <button id="edit-btn" disabled>EDIT</button>
            <button id="del-btn" type="submit">DELETE</button>
        </div>
    </form>
}
