@page
@model ViewUnregisteredModel
@{
    Layout = "_LayoutProfile";
}

@foreach (Dictionary<string, string> x in Model.dataArray)
{
    foreach (var y in x)
    {
        <p>@y.Key</p>
        <p>@y.Value</p>
    }
}