@page
@model fur_ever_homes.Pages.Account.ViewUnregisteredAdminModel
@{
    Layout = "_LayoutProfile";
}

@foreach (Dictionary<string, string> petData in Model.dataArray)
{
    string petID = petData["pet_id"];
    string name = petData["name"];
    string description = petData["description"];
    string imageURL = petData["image_url"];

    <form method="post" class="card">
        <div class="card-img" style="background-image: url(@imageURL);"></div>
        <h3>@name</h3>
        <p>@description</p>
        <input asp-for="PetCard.PetID" value="@petID" type="hidden"/>
        <div class="btn">
            <button type="submit">APPROVE</button>
        </div>
    </form>
}