@page
@model fur_ever_homes.Pages.Account.ViewAdoptionRequestsModel
@{
    Layout = "_LayoutProfile";
}
@*<form class="card-container">
    <div class="card">
        <div class="card-img car-url"></div>
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rhoncus.</p>
        <div class="btn">
            <button id="edit-btn">APPROVE</button>
            <button id="del-btn">REJECT</button>
        </div>
    </div>
    <div class="card">
        <div class="card-img car-url"></div>
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rhoncus.</p>
        <div class="btn">
            <button id="edit-btn">APPROVE</button>
            <button id="del-btn">REJECT</button>
        </div>
    </div>
    <div class="card">
        <div class="card-img car-url"></div>
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rhoncus.</p>
        <div class="btn">
            <button id="edit-btn">APPROVE</button>
            <button id="del-btn">REJECT</button>
        </div>
    </div>
</form>*@

@foreach (Dictionary<string, string> petData in Model.adoptionArray)
{
    string petID = petData["pet_id"];
    string name = petData["name"];
    string imageURL = petData["image_url"];
    string description = petData["description"];

    <form method="post" class="card">
        <div class="card-img" style="background: url(@imageURL);"></div>
        <h3>@name</h3>
        <p>@description</p>
        <input asp-for="PetCard.PetID" value="@petID" type="hidden" />
        <div class="btn">
            <button id="edit-btn" type="submit">APPROVE</button>
            <button id="del-btn" disabled>REJECT</button>
        </div>
    </form>
}
