.main-items {
    margin-top: 30px;
}

.card-container {
    justify-content: center;
    position: static;
    display: grid;
    grid-template-columns: repeat(3, 40vh);
    gap: 3vw;
}

.card {
    background: #FFFFFF;
    width: 22vw;
    border-radius: 8px;
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.16);
    max-width: 25vw;
}

.card-img {
    height: 20vh;
    margin-bottom: 1vh;
    margin: 1.5vh;
    background-size: cover;
    border-radius: 8px;
}

.car-url {
    background-image: url(corgi.jpeg);
}

.card h3 {
    padding: 10px;
    font-weight: 400;
}

.card p {
    font-size: 11px;
    padding: 10px;
}

.card div {
    display: flex;
    align-items: center;
    margin-top: 2%;
    font-size: 13px;
}

.card button {
    display: block;
    border: none;
    background-color: #CDE990;
    padding: 15px;
    border-radius: 8px;
    margin: 5%;
    margin-top: 8px;
    width: 100%;
    color: #FFFFFF;
}

    .card button:hover {
        background-color: #AACB73;
    }
