*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
}
body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #FFFCFA 41.11%, #FFE8E8 100%);
    min-height: 100vh;
    color:#393E46;
}
.container .side-bar{
    top:0;
    left:0;
    height: 100vh;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 25px;
    position: fixed;
}
.logo-title{
    display: flex;
    align-items: center;
    color: #FFD4D4;
    font-size: 20px;
}
.side-bar ul{
    margin-top: 10px;
}
.side-bar ul li a{
    line-height: 50px;
    color:#393E46;
    padding: 2px;
    display: block;
    border-radius: 8px;
    font-size: 13px;
    margin-bottom: 1vh;
}
.side-bar ul li a:hover{
    background-color: #FFF8F8;
}
.side-bar ul li a img{
    margin-right: 20px;
    margin-left: 5px;
    width:18px;
}
.side-bar-item-container{
    display: flex;
    align-items: center;
}
.main{
    margin-left: 250px;
}
.nav-bar ul{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
}
.nav-bar ul li a{
    display: block;
    color:#393E46;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    line-height: 40px;
    
}
.nav-bar ul li a:hover{
background-color: #FFE8E8;
}
.login-link{
    display: flex;
    align-items: center;
}
.main{
    margin-left: 20%;
}
.main-items{
    margin-top: 30px;
}
.card-container{
    justify-content: center;
    position: static;
    display: grid;
    grid-template-columns: repeat(3, 40vh);
    gap:3vw;
    
}
.card{
    background: #FFFFFF;
    width: 22vw;
    border-radius: 8px;
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.16);
    max-width: 25vw;
}
.card-img{
    height: 20vh;
    margin-bottom: 1vh;
    margin: 1.5vh;
    background-size: cover;
    border-radius: 8px;
}
.car-url{
    background-image: url(corgi.jpeg);
}
.card h3{
    padding: 10px; 
    font-weight: 400;
}
.card p{
    font-size: 11px;
    padding: 10px; 
}
.card a{
    color:#FEFEF5;
    display: block;
    border-radius: 8px;
    line-height: 5vh;
    font-size: 14px;
    text-align: center;
    background-color: #FF7171;
    margin: 2vh;
    font-weight: 500;
}
.card a:hover{
    background-color: #FF5A5A;
}
.btn{
    display: flex;
}
.btn #unregister-btn{
    background-color: #FF7171;
}
.btn #unregister-btn:hover{
    background-color: #FF5A5A;
}
.btn #edit-btn{
    background-color: #CDE990;
    width: 13vw;
}
.btn #edit-btn:hover{
    background-color: #AACB73;
}
.btn #del-btn{
    background-color: #FF7171;
    width: 10vw;
}
.btn #del-btn:hover{
    background-color: #FF5A5A;
}
.side-bar #clicked-page{
    background-color: #FFF8F8;
}
.account{
    display: flex;
    align-items: center;
    margin-top: 10%;
    font-size: 13px;
}
.account-item{
    margin-left: 7%;
}
button{
    display: block;
    justify-content: space-between;
    border: none;
    background-color: #FFE8E8;
    padding: 10px;
    border-radius: 8px;
    margin-top: 8px;
    width: 100%;
}
button:hover{
    background-color: #FFD4D4;
}
hr{
    margin-top: 25px;
}
.form-container{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 40vh);
    gap:2vh;
    
}
.form{
    background: #FFFFFF;
    width: 50vw;
    border-radius: 8px;
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.16);
    padding: 10%;
}
.form h3{
    padding: 10px;
    font-size: 28px;
    font-weight:400; 
}
.form p{
    font-size: 11px;
    padding: 10px; 
}
.form a{
    color:#FEFEF5;
    display: block;
    border-radius: 8px;
    line-height: 5vh;
    font-size: 14px;
    text-align: center;
    background-color: #CDE990;
    margin: 2vh;
}
.form a:hover{
    background-color: #AACB73;
}
#accent-font{
    color: #CF8E8E;
}
.login-form {
    width: 663px;
    height: 425px;
    background: #FFFFFF;
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    padding: 21px 25px 32px 0;
}

.login-form img {
    float: right;
}

.login-form div {
    width: 100%;
}

.login-form h1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 1px;
    margin-top: 34px;
    margin-left: 70px;
}

.login-form h1 span {
    color: #CF8E8E;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 530px;
}

.form-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 450px;
    height: 119px;
    margin-top: 40px;
    margin-left: 99px;
}

.margin-top-30{
    margin-top: 30px;
}

.form-group, input::placeholder {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 1px;
}

.form-group > *{
    display: block;
    width: 100%;
}

input, textarea {
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
}

.text-validation {
    color: red;
    font-size: 0.7rem;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 63px;
    max-height: 63px;
    background: #CDE990;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    transition: 0.2s;
}

.login-button:hover {
    filter: brightness(90%);
}

.login-button div {
    color: #FEFEF5;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 22px;
    letter-spacing: 1px;
}

.register-link {
    margin-top: 11px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
}
.register-link a {
    text-decoration-line: underline;
}

.vl{
    border-left:3px solid grey;
    height: 200px;

}
.row{
    display: flex;
    padding: 2%;
}
#register-btn{
    color:#FEFEF5;
    display: block;
    border-radius: 8px;
    line-height: 5vh;
    font-size: 14px;
    text-align: center;
    background-color: #FF7171;
    margin: 2vh;
    font-weight: 500;
    margin-top: 5%;
}
  .sex{
    display: flex;
    justify-content: space-between;
  }