@page
@model fur_ever_homes.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<div class="AU-Body">
    <div class="AU-content">

        <h1>Welcome to FurEver Homes, your go-to destination for finding your furry companion and providing them with a loving forever home. At FurEver Homes, we are passionate about connecting animals in need with caring individuals and families who are ready to open their hearts and homes to a new four-legged friend.</h1>

            <h1>Our Mission:</h1>
            <p>At FurEver Homes, our mission is to facilitate the adoption process and make it as seamless and rewarding as possible. We strive to create a positive experience for both potential adopters and the animals in our care. 
               We believe that every pet deserves a safe and loving home, and we are dedicated to promoting responsible pet ownership.</p>
            <h1>Find Your Perfect Match:</h1>
             <p> We understand that adopting a pet is a lifelong commitment, and finding the right match is crucial. Our website provides a user-friendly platform that allows you to search and browse through a variety of adorable animals available for adoption. 
                 You can filter your search based on species, breed, age, and location, making it easier to find the perfect companion that suits your lifestyle and preferences. </p>
            <h1>Dedicated and Caring Staff:</h1>
            <P>Our team at FurEver Homes is comprised of dedicated animal lovers who are committed to the well-being of the animals in our care. 
            From rescue organizations to foster homes, we work closely with trusted partners to ensure that every pet listed on our website receives proper care, medical attention, and socialization before being made available for adoption. </P>

            <h1>Support and Resources:</h1>
             <p>Adopting a pet is just the beginning of a beautiful journey. To support you throughout this process, we provide valuable resources and information on pet care, training, and responsible ownership. 
             Our goal is to equip you with the knowledge and tools necessary to provide the best possible care for your new companion.</p>
            <h1>Get Involved:</h1>
             <p>FurEver Homes believes in the power of community and collaboration. We encourage you to get involved in various ways, such as volunteering, fostering, or donating to support our cause. 
             By joining hands, we can make a significant impact on the lives of animals in need.</p>
            <h1>Contact Us:</h1>
        <p>If you have any questions, feedback, or need assistance, our friendly team is here to help.
           Feel free to reach out to us through our contact page, and we will respond to your inquiries as soon as possible.</p>
            <h1>Thank you for choosing FurEver Homes as your trusted partner in the journey of finding your new furry family member. 
                Together, we can make a difference in the lives of animals and create many happy endings.</h1>
    </div>
    <div class ="AU-image">
        <img  src="~/images/about-us.svg" />
    </div>
    

</div>
