@page
@using System.Text.Json;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card-container">
    @foreach (Dictionary<string, string> x in Model.dataArray)
    {
        string petID = x["pet_id"];
        string name = x["name"];
        string imageURL = x["image_url"];
        string description = x["description"];

        <form class="card">
            <div class="card-img" style="background: src(@imageURL);"></div>
            <h3>@name</h3>
            <p>@description</p>
            <input asp-for="PetCard.PetID" value="@petID" type="hidden" />
            <button type="submit">ADOPT</button>
        </form>
    }
</div>