@page
@model fur_ever_homes.Pages.LoginModel
@{
}

<div class="form-container">
    <form method="post" class="login-form">
        <img src="~/images/close-icon.svg"/>
        <div></div>
        <h1>Welcome back <span>fur</span>-parent!</h1>
        <div class="form-group">
            <input placeholder="* username" />
            <span class="text-validation">Error message</span>
            <input class="margin-top-30" placeholder="* password" />
            <span class="text-validation">Error message</span>
            <button class="login-button">
                <div>
                    LOGIN
                </div>
            </button>
            <div class="register-link">
                Don’t have an account? <a href="#">Register here.</a>
            </div>
        </div>
    </form>
</div>