@page
@model fur_ever_homes.Pages.LoginModel
@{
}

<div class="form-container" method="post">
    <form method="post" class="login-form">
        <img src="~/images/close-icon.svg"/>
        <div></div>
        <h1>Welcome back <span>fur</span>-parent!</h1>
        <div class="form-group">
            <input asp-for="LogIn.Username" placeholder="* username" maxlength="30" />
            <span asp-validation-for="LogIn.Username" class="text-validation"></span>
            <input asp-for="LogIn.Password" class="margin-top-30" placeholder="* password" maxlength="30" />
            <span asp-validation-for="LogIn.Password" class="text-validation"></span>

            <button class="login-button" type="submit">
                <div>
                    Login
                </div>
            </button>
            <div class="register-link">
                Don’t have an account? <a asp-page="SignUp">Register here.</a>
            </div>
        </div>
    </form>
</div>