@page
@model fur_ever_homes.Pages.SignUpModel
@{
}
<div class="sign-up-form-container">
    <form method="post" class="sign-up-form">
        <img src="~/images/close-icon.svg"/>
            <h1>Be a<span> fur</span>-parent today.</h1>
        <div class="form-group">
            <div class="sign-up-form1">
                <div class="sign-up-fn">
                    <input placeholder="* first name"/>
                    <span class="text-validation">Error message</span>
                </div>
                <div class="sign-up-ln">
                    <input placeholder="* last name" />
                    <span class="text-validation">Error message</span>
                </div>
            </div>

            <div class="sign-up-form1">
                <div class="sign-up-fn">
                    <input placeholder="* username" />
                    <span class="text-validation">Error message</span>
                </div>
                <div class="sign-up-ln">
                    <input placeholder="contact no."/>
                    <span class="text-validation">Error message</span>
                </div>
            </div>

            <div class="sign-up-form2">
                <input placeholder="* email" />
                <span class="text-validation">Error message</span>
                <input class="margin-top-30" placeholder="* password" />
                <span class="text-validation">Error message</span>
            </div>

            <button class="login-button">
                <div>
                    Register
                </div>
            </button>
            <div class="register-link">
                Already have an account? <a asp-page="Login">Login Here.</a>
            </div>
        </div>
    </form>
</div>